<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <title>Login</title>
</head>
<body>
    <form id="signup" th:action="@{/signup}" method="post">
		<h1 class="title">新規登録</h1>
		<div class="signup_field">
			<div class="input_field">
				<div class="input_username">
					<label>ユーザー名:</label>
					<input type="text" id="username" name="username"/>	
				</div>
		        
		        <div class="input_password">
					<label>パスワード:</label>
					<input type="password" id="password" name="password"/>
					<label>パスワードの確認:</label>
					<input type="password" id="re_password" name="re_password"/>
				</div>
			</div>
			<div class="btn_field">
				<button type="submit">新規登録</button>	
			</div>
		</div>
    </form>
</body>
</html>